<!DOCTYPE html>
{% extends 'layout.html' %}
{% import "bootstrap/base.html" as wtf %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block pagestyles %}
{% endblock  %}

{% block content %}
  <div class="formwrapper">
    <form method="post">
      <div class="message">
        {% for message in get_flashed_messages() %}
      </div>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
      <h1>Log in</h1>
      <div class="email">
        <!-- {{ form.email.lebal }}
        {{ form.email(placeholder='youremail@example.com') }} -->
        {{ render_field(form.email, class='form-control',placeholder='youremail@example.com' ) }}

        {% if form.email.errors %}
        <ul class="errors">
          {% for error in form.email.errors  %}<li> {{error}} </li>{% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="passord">
        <!-- {{ form.password.label }}
        {{ form.password }} -->
        {{ render_field(form.password, class='form-control' ) }}
        {% if form.password.errors %}
        <ul class="errors">
          {% for error in form.password.errors %} <li> {{error}} </li>{% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="submitbutton">
        <input id="submit" type="submit" value="submit" class="btn btn-info">
      </div>
      </form>
      <div class="loginsigup">
        <span>Don't have an account? <a href="{{url_for('auth_bp.signup_page')}} ">Sign in.</a></span>
      </div>
  </div>
{% endblock  %}