<!DOCTYPE html>
{% extends 'layout.html' %}
{% import "bootstrap/base.html" as wtf %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field %}

{% block pagestyles %}
{% endblock  %}

{% block content %}
  <div class="container">
    <form class="form form-horizontal" method="post">
      <div class="message">
        {% for message in get_flashed_messages() %}
      </div>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message }}
        </div>
      {% endfor %}
      <h1>Sign Up</h1>

      <div class="name">
        {{ render_field(form.name, class='form-control',placeholder='John Watson' ) }}
        <!-- {{ form.name.label }} -->
        <!-- {{ form.name(placeholder='John Watson') }} -->
        {% if form.name.errors  %}
          <ul class="errors">
            {% for error in form.email.errors %} <li>{{ error }}</li>{% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="email">
        
        <!-- {{ form.email.label }}
          {{ form.email(placeholder='youremail@example.com') }} -->
        {{ render_field(form.email, class='form-control',placeholder='youremail@example.com' ) }}
        {% if form.email.errors %}
          <ul class="errors">
            {% for error in form.email.errors  %}<li> {{error}} </li>{% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="password">
        <!-- {{ form.password.label }} 
        {{ form.password }} -->
        {{ render_field(form.password, class='form-control' ) }}

        {% if form.password.errors %}
        <ul class="errors">
          {% for error in form.password.errors %} <li> {{error}} </li>{% endfor %}
        </ul>
        {% endif %}
      </div>

      <div class="confirm">
        <!-- {{ form.confirm.label }}
        {{ form.confirm }} -->
        {{ render_field(form.confirm, class='form-control' ) }}
        {% if form.confirm.errors %}
          <ul class="errors">
            {% for error in form.confirm.errors %} <li> {{error}} </li>{% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class="website">
        <!-- {{ form.website.label }}
        {{ form.website(placeholder='http://example.com') }} -->
        {{ render_field(form.website, class='form-control',placeholder='http://example.com' ) }}
      </div>

      <div class="submitbutton">
        <input id="submit" type="submit" value="submit" class="btn btn-info">
      </div>
    </form>
    <div class="loginsignup">
      <span>Already have an account? <a href="{{url_for('auth_bp.login_page')}} ">log in.</a></span>
    </div>
  </div>
{% endblock %}